
/* background: #172940;
    color: #a2b5cd;
        border-bottom: 2px solid #3a4f6a;

 */

/* Add these styles to your CSS file */
li {
    margin-bottom: 8px;
  }
  .foot{
    /* background-image: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0)); */
background-image: url('https://www.pngmagic.com/product_images/light-blue-3d-background.jpg');
  }
  a  {

    text-decoration: none !important;
    transition: color 0.3s ease; /* Adding transition for a smooth hover effect */
  }
  
   a:hover {
    color: #100e0e !important;

  }
  