@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Archivo+Narrow&family=Audiowide&family=Big+Shoulders+Inline+Text:wght@100;200;600&family=Bungee+Spice&family=Caveat&family=Cinzel&family=Josefin+Sans&family=Merriweather:wght@300&family=Nosifer&family=Open+Sans:wght@300&family=Orbitron:wght@500&family=Rajdhani&family=Reem+Kufi+Ink&family=Roboto&family=Sacramento&family=Sedgwick+Ave+Display&family=Skranji&family=Special+Elite&family=Yellowtail&display=swap');

.nl{
  color: aliceblue;
}
h1{
  font-family:"Orbitron" ;
}
/* p{
  font-family: "Caveat";
} */

.nav{
	background-color: "#0076CE";
}



.food{
  transition: transform 0.9s ease; /* Adding transition for a subtle hover effect */
  transform: scale(.8);

} 
.food:hover {
  transform: scale(1); /* Increase image size on hover */
}
.cimg{
  transition: transform 0.9s ease; /* Adding transition for a subtle hover effect */
}
.cimg:hover {
  transform: scale(1.5); /* Increase image size on hover */
}
.cbd:hover {
  background-color: #0076CE;
  color: white;

}
.vrec{
        color:#0076CE !important;
  text-decoration: none !important;

  transition: color 0.3s ease; /* Adding transition for a smooth hover effect */
}
  
    .vrec:hover {
      color: #030201 !important;  

  }





